<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <link rel="stylesheet" href={{url_for("static", filename="styles/style.css" )}}>
</head>
<body>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="form " action="/" method="post">
                <span class="form_title"> Password Generator </span>
                <div class="wrap_input validate-input">
                    <input class="input" type="number" name="password_length" min="0" value="8"
                           placeholder="Введете длину пароля"/>
                    <input class="input" type="text" name="banned_symbols" placeholder="Введите нежелательный символы"/>
                </div>
                <div class="flash"> {{''.join(get_flashed_messages())}}</div>
                <div class="container_form_btn">
                    <input type="submit" value="Generate" class="form_btn"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>